body {
    background-color: #2b2a2f;
}


/* стили для меню */

.header {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-top: 50px;
    justify-content: space-between;
}

@media (max-width: 768px) and (min-width: 426px) {
    .header {
        justify-content: center;
    }
}

@media (max-width: 425px) and (min-width: 319px) {
    .header {
        justify-content: center;
    }
}

.header-menu{
    max-width: 684px;
    
}

.logo {
    display: flex;
    align-items: center;
    justify-content: start;
}



.header a {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.2;
    letter-spacing: normal;
    text-align: center;
    color: #fe7e11;
    cursor: pointer;
    text-decoration: none;
}

.header ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media (max-width: 768px) and (min-width: 426px) {
    .header ul {
        margin-top: 20px;
    }
}

@media (max-width: 425px) and (min-width: 319px) {
    .header ul {
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
}

.header li {
    padding: 12px;
}

.header li a {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 6px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

.header .menu-select {
    color: #fe7e11;
}

.header li a:hover {
    color: #fe7e11;
}

.logo a {
    text-align: start;
}


/* стили для слайдера */
.slider {
    max-width: 1170px;
    margin: 0 auto;
    padding: 94px 0 0 102px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 425px) and (min-width: 319px) {
    .slider {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        justify-content: center;
    }
}

.slider-title{
    padding-top: 124px;
}

@media (max-width: 425px) and (min-width: 319px) {
    .slider-title {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.slider .hi {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.3;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

.slider h1 {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fe7e11;
    padding: 0;
    margin: 0;
    padding-top: 27px;
}

@media (max-width: 425px) and (min-width: 319px) {
    .slider h1 {
        text-align: center;
    }
}

@media (max-width: 425px) and (min-width: 319px) {
    .slider .subtitle {
        text-align: center;
    }
}

.slider .subtitle {
    width: 290px;
    height: 59px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #d1d1d1;
    padding-top: 30px;
}

@media (max-width: 425px) and (min-width: 319px) {
    .slider .subtitle {
        text-align: center;
    }
}

.slider a {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

.slider .subtitle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: #fe7e11;
    border-radius: 29px;
    -webkit-border-radius: 29px;
    -moz-border-radius: 29px;
    -ms-border-radius: 29px;
    -o-border-radius: 29px;
    cursor: pointer;
    margin-top: 60px;
}

.slider .slider-img {
    width: 462px;
    height: 713px;
    background-color: #ffffff;
}

@media (max-width: 1024px){
    .slider .slider-img {
        padding-right: 50px;
        width: 230px;
        height: 350px;
    }
}


/* стили для секции обо мне */
.section {
    padding-top: 110px;
    background-color: #27262b;
    padding-bottom: 110px;
}

@media (max-width: 375px) {
    .section {
        padding-left: 10px;
    }
}

.about {
    max-width: 1170px;
    margin: 0 auto;
}

.about-title {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.about-title .line1 {
    width: 130px;
    height: 2px;
    background-color: #fe7e11;
    margin: 0 auto;
    margin-top: 7px;
}

.about-title .line1::before {
    content: " ";
    display: block;
    width: 12px;
    height: 12px;
    border: solid 1px #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: -6px;
    margin-left: -13px;
}

.about-title .line1::after {
    content: " ";
    display: block;
    width: 12px;
    height: 12px;
    border: solid 1px #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: -14px;
    margin-left: 128px;
}

.about-title .line2 {
    width: 110px;
    height: 2px;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 12px;
}

.about-title h2 {
    font-family: Montserrat;
    font-size: 27px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 0;

}

.about-section {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 1024px) and (min-width: 769px) {
    .about-section {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 425px) and (min-width: 319px) {
    .about-section {
        padding-left: 0;
        padding-right: 0;
        justify-content: center;
        align-items: center;
    }
}

.about-border {
    width: 370px;
    height: 420px;
    border-left: solid 6px #fe7e11;
    border-bottom: solid 6px #fe7e11;
    position: relative;
}

.about-img {
    width: 232px;
    height: 364px;
    background-color: #ffffff;
    position: absolute;
    left: 86px;
    top: 36px;
}

.about-right {
    max-width: 480px;
}

@media (max-width: 768px) and (min-width: 319px) {
    .about-right {
        margin: 0 auto;
        margin-top: 50px;
    }
}

@media (max-width: 425px) and (min-width: 319px) {
    .about-right {
        margin: 0 auto;
        margin-top: 50px;
    }
}

@media (max-width: 768px) and (min-width: 426px) {
    .about-left {
        margin: 0 auto;
    }
}

.about-right h3 {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #e2e2e2;
    margin-top: 0;
}

.about-right p {
    font-family: Montserrat;
    font-size: 11.5px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: justify;
    color: #d1d1d1;
}

.address{
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
    align-items: center;
}

.address ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-family: Montserrat;
    font-size: 11.5px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.57;
    letter-spacing: normal;
    text-align: left;
    color: #d1d1d1;
}

@media (max-width: 1024px){
    .address ul{
        padding-right: 20px;
    }
}


.address-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: #fe7e11;
    border-radius: 29px;
    -webkit-border-radius: 29px;
    -moz-border-radius: 29px;
    -ms-border-radius: 29px;
    -o-border-radius: 29px;
    cursor: pointer;
}

.address-btn a{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-decoration: none;

}

/* стили блока компетенций */


.service {
    width: 100%;
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 425px) and (min-width: 319px) {
    .service {
        padding-left: 0;
        padding-right: 0;
        justify-content: center;
        align-items: center;
    }
}

.service-section {
    margin: 0 auto;
    max-width: 1170px;
    padding-bottom: 65px;
}

.service-block {
    max-width: 370px;
    min-height: 158px;
    text-align: center;
    cursor: pointer;
    background-color: #27262b;
    margin-bottom: 45px;
}

@media (max-width: 1024px){
    .service-block{
        max-width: 325px;
    }
}

.block-title {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #d1d1d1;
}

.block-text {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #d1d1d1;
    padding: 10px;
}

.block-img {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto;
    margin-top: 10px;
}

.service-block:hover .block-img {
    background-color: #fe7e11;
}

.service-block:hover svg {
    fill: #ffffff;
    stroke: #ffffff;
}

.service-block:hover {
    box-shadow: 0px 5px 5px 0 rgba(164, 164, 164, 0.75);
}

.block-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* стили секции достижений */

.achiev{
    padding: 110px 0 110px 0;
    background-color: #27262b;
}

@media (max-width: 1024px){
    .achiev{
        padding-left: 50px;
        padding-right: 50px;
    }
}

.achive-block{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 768px) and (min-width: 426px) {
    .achive-block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 425px) and (min-width: 319px) {
    .achive-block {
        padding-left: 0;
        padding-right: 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.achive-descr{
    max-width: 200px;
    text-align: center;
    cursor: pointer;
}

.achive-img{
    width: 70px;
    height: 70px;
    background-color: #201f24;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.love{
    animation-name: heartbeat;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.love:hover{
    animation-play-state: paused;
}

.achive-title{
    font-family: Montserrat;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.67;
    letter-spacing: normal;
    text-align: center;
    color: #fe7e11;
}

.achive-subtitle{
    font-family: Montserrat;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.achive-descr:hover .love{
    fill: #fa0e0e;
    stroke: #fa0e0e;
}

.achive-descr:hover .clock{
    fill: #2724f5;
    stroke: #2724f5;
}

.achive-descr:hover .cup{
    fill: #442e10;
    stroke: #442e10;
}

.achive-descr:hover .quality{
    fill: #4d9be4;
    stroke: #4d9be4;
}

.contact{
    max-width: 1170px;
    margin: 0 auto;
    padding: 110px 0 110px 0;
}

/* стили портфолио */



.porfolio{
    padding: 110px 0 110px 0;
    background-color: #2b2a2f;
}

.portfolio-block{
    background-color: #fffefe;
    cursor: pointer;

}

.portfolio-block img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}



.portfolio-block:hover{
    filter: brightness(40%);
    -webkit-filter: brightness(40%);
    transition-duration: 0.5s;
}

.portfolio-section{
    max-width: 1170px;
    padding-top: 160px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "block1 block1 block1 block2"
                         "block1 block1 block1 block3"
                         "block4 block5 block6 block6";
    grid-template-rows: repeat(3, 270px);
    grid-template-columns: repeat(4, 270px);
    gap: 30px;
}

@media (max-width: 1024px){
    .portfolio-section{
        grid-template-columns: repeat(4, 215px);
        padding-left: 50px;
    }
}

@media (max-width: 768px) and (min-width: 426px) {
    .portfolio-section {
        grid-template-rows: repeat(3, 170px);
        grid-template-columns: repeat(4, 170px);
        gap: 10px;
    }
}

@media (max-width: 425px) and (min-width: 376px) {
    .portfolio-section {
        grid-template-rows: repeat(3, 100px);
        grid-template-columns: repeat(4, 100px);
        gap: 5px;
        padding-left: 10px;
        padding-right: 0;
    }
}

@media (max-width: 375px) {
    .portfolio-section {
        grid-template-rows: repeat(3, 90px);
        grid-template-columns: repeat(4, 90px);
        gap: 3px;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
}

.block1{
    grid-area: block1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.block2{
    grid-area: block2;

}

.block3{
    grid-area: block3;
}

.block4{
    grid-area: block4;
}

.block5{
    grid-area: block5;
}

.block6{
    grid-area: block6;
}

.portfolio-block2{
    background-color: #fffefe;
    cursor: pointer;

}

.portfolio-block2 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}



.portfolio-block2:hover{
    filter: brightness(40%);
    -webkit-filter: brightness(40%);
    transition-duration: 0.5s;
}

.portfolio-section2 {
    max-width: 1170px;
    padding-top: 160px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "block1-2 block1-2 block2-2 block2-2"
                         "block1-2 block1-2 block2-2 block2-2"
                         "block3-2 block4-2 block4-2 block5-2";
    grid-template-rows: repeat(3, 270px);
    grid-template-columns: repeat(4, 270px);
    gap: 30px;
}

@media (max-width: 1024px) and (min-width: 769px) {
    .portfolio-section2 {
        grid-template-columns: repeat(4, 215px);
        padding-left: 50px;
    }
}

@media (max-width: 768px) and (min-width: 426px) {
    .portfolio-section2 {
        grid-template-rows: repeat(3, 170px);
        grid-template-columns: repeat(4, 170px);
        gap: 10px;
        margin-left: 30px;
    }
}

@media (max-width: 425px) and (min-width: 376px) {
    .portfolio-section2 {
        grid-template-rows: repeat(3, 100px);
        grid-template-columns: repeat(4, 100px);
        gap: 5px;
        padding-left: 10px;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 375px) {
    .portfolio-section2 {
        grid-template-rows: repeat(3, 90px);
        grid-template-columns: repeat(4, 90px);
        gap: 3px;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
}

.block1-2{
    grid-area: block1-2;
    display: flex;
    justify-content: center;
    align-items: center;

}

.block2-2{
    grid-area: block2-2;

}

.block3-2{
    grid-area: block3-2;
}

.block4-2{
    grid-area: block4-2;
}

.block5-2{
    grid-area: block5-2;
}

.portfolio-slider{
    max-width: 1170px;
    margin: 0 auto;
}

.slider-portfolio-class{
    max-width: 1170px;
    margin: 0 auto;
    cursor: pointer;
}



.slick-prev1{
    border: none;
    position: absolute;
    top: 6%;
    left: 33%;
    z-index: 5;
    width: 150px;
    height: 50px;
    background-color: #fe7e11;
    border-radius: 29px;
    -webkit-border-radius: 29px;
    -moz-border-radius: 29px;
    -ms-border-radius: 29px;
    -o-border-radius: 29px;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 23px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #d1d1d1;
}

.slick-prev1:focus{
    outline-color: #fe7e11;
}

.slick-next1{
    position: absolute;
    left: 53%;
    top: 6%;
    width: 150px;
    height: 50px;
    background-color: #fe7e11;
    border-radius: 29px;
    -webkit-border-radius: 29px;
    -moz-border-radius: 29px;
    -ms-border-radius: 29px;
    -o-border-radius: 29px;
    cursor: pointer;
    border: none;
    font-family: Montserrat;
    font-size: 23px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #d1d1d1;
}

.slick-next1:focus{
    outline-color: #fe7e11;
}

@media (max-width: 425px) and (min-width: 319px) {
    .slick-next1 {
        left: 58%;
    }
}

@media (max-width: 425px) and (min-width: 319px) {
    .slick-prev1 {
        left: 11%;
    }
}

/* стили футера */
.address-footer{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 425px) and (min-width: 319px) {
    .address-footer {
        justify-content: center;
        align-items: center;
    }
}

.contact-email{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 40px;
}

.contact-email a{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #d1d1d1;
    text-decoration: none;
    margin-left: 30px;
}

.contact-img{
    width: 70px;
    height: 70px;
    background-color: #27262b;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: solid 2px #fe7e11;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-block{
    margin-left: 50px;
    max-width: 660px;
}



.right-block input[type="text"], input[type="email"]{
    height: 50px;
    border: solid 1px #413f3f;
    background-color: #413f3f;
    padding-left: 10px;
}

@media (max-width: 1024px) and (min-width: 769px) {
    .left-block {
        margin-left: 135px;
    }
}

@media (max-width: 768px) and (min-width: 426px) {
    .left-block {
        margin: 0 auto;
    }
}

.right-block input[type="text"]{
    margin-bottom: 30px;
}

.right-block textarea{
    height: 251px;
    max-width: 762px;
    border: solid 1px #413f3f;
    background-color: #413f3f;
    padding: 10px 0 0 10px
}

.input{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 660px;
}

@media (max-width: 1024px){
    .right-block textarea{
        width: 428px;
    }
}

@media (max-width: 768px){
    .right-block textarea{
        width: 361px;
    }
}

@media (max-width: 768px) and (min-width: 426px) {
    form {
        display: flex;
        flex-direction: column;
    }
}

.right-block .btn{
    width: 220px;
    height: 50px;
    background-color: #fe7e11;
    border: none;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fffefe;
    margin-top: 50px;
}

hr{
    background-color: #fffefe;
}

@media (max-width: 768px){
    hr {
        max-width: 768px;
    }
}

@media (max-width: 425px) and (min-width: 319px) {
    hr {
        max-width: 425px;
    }
}

@media (max-width: 768px){
    .copi {
        padding-left: 47px;
    }
}


.footer-social{
    max-width: 1170px;
    margin: 0 auto;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copi p{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #d1d1d1;
}

.social-icons{
    display: flex;
}

.icons{
    cursor: pointer;
    margin: 0 46px 0 23px
}

.icons:hover svg{
    fill: #fe7e11;
    stroke: #fe7e11
}

/* стили для отзывов */

.testimonials{
    padding: 110px 0 40px 0;
    background-image: url('../img/background.webp');
    background-position: top center;
    background-repeat: repeat;
}

@media (max-width: 768px) and (min-width: 426px) {
    .testimonials {
        
    }
}

.testimonials-slider{
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 110px;
}

.your-class{
    max-width: 1170px;
    margin: 0 auto;
    cursor: pointer;
}

.your-class p{
    font-family: Montserrat;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #d1d1d1;
}

.testimonial-link{
    display: block;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #d1d1d1;
    margin: 100px 0 0 10px;
}

.slick-slider{
    padding-bottom: 50px;
}

.slick-prev{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 100%;
    left: 47%;
    background-image: url('../img/multimedia-option (1).svg');
    cursor: pointer;
}

.slick-prev:focus{
    outline-color: #fe7e11;
}


.slick-next{
    position: absolute;
    left: 53%;
    top: 100%;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    background-image: url('../img/left-and-right-arrows (1).svg');
    cursor: pointer;
}

.slick-next:focus{
    outline-color: #fe7e11;
}



.slick-dots{
    display: flex;
    list-style: none;
    justify-content: center;

}

.slick-dots button{
    width: 10px;
    height: 10px;
    margin-left: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: none;
    background-color: #fffefe;
    opacity: 0.3;
    font-size: 0;
}

.slick-active button{
    background-color: #fe7e11;
}

.pageup{
    display: none;
    position: fixed;
    cursor: pointer;
    bottom: 40px;
    right: 40px;
    opacity: 0.5;
}
